// Rename this file to 'secrets.h' and customize
// Credentials
#ifndef _SECRETS_H
#define _SECRETS_H

#define YT_API_KEY "12345678"
#define YT_CHANNEL_ID "12345678"
#define PORTAL_WIFI_PASSWORD "12345678"

#endif /* _SECRETS_H */
